.head
{
    
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 240px;
    text-align: center;
    padding-top: 150px;
    padding-left: 80px;
    padding-right: 80px;}
.donate-today{
    text-align: center;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
   
}
h1{
    font-size: 45px;
  
}
p{
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
   
}
.font-color{
    color: gray;
}
*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.color{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(tomato,red);
     padding: 10px 10px;
     border-radius: 5px;
     color: white;
     font-weight: 200;
      margin-top: 5px;
      font-size: 15px;
     
}
.tk-border{
    color: gray;
    font-size: 20px;
    font-weight: 600;
   margin: 20px;
    
    padding: 20px 15px ;
    border-radius: 5px;
    border: 1px solid gray;
    border-style: none;
    background-color: rgb(251, 247, 247);
   

}
.tk-border-200  {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding: 20px 15px ;
    border-radius: 5px;
    border: 1px solid tomato;
    color: tomato;
    background-color: rgb(251, 247, 247)}
.tk-padding{
    padding-top: 20px;
}
#center{
    text-align: center;
    color: rgb(192, 183, 183);
    padding-top: 50px;
    font-size: small;
}
hr {
   
    background-color:rgb(210, 205, 205); 
}
.text-align{
    text-align: center;
}
