.head{
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 240px;
    text-align: center;
    padding-top: 130px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
} 

.donate-today{
    text-align: center;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
 }

.donate-plan{
    text-align: center;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    font-size: 45px; 
}

p{
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;   
}

.font-color{
    color: gray;
}
.font-size{
    font-size: 12px;
}

*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.color{
    color: tomato;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(tomato,red);
     padding: 10px 10px;
     border-radius: 5px;
     color: white;
     font-weight: 200;
      margin-top: 5px;
      margin-bottom: 100px;
      font-size: 15px;   
}

.tk-border{
    color: gray;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding: 20px 15px ;
    border-radius: 5px;
    border: 1px solid gray;
    border-style: none;
    background-color: rgb(251, 247, 247);
}

.tk-border-200  {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding: 20px 15px ;
    border-radius: 5px;
    border: 1px solid tomato;
    color: tomato;
    background-color: rgb(251, 247, 247);
}

.tk-padding{
    padding-top: 20px;
}

#center{
    text-align: center;
    color: rgb(192, 183, 183);
    padding-top: 50px;
    padding-bottom: 8px;
    font-size: small;
}

hr{
   background-color:rgb(210, 205, 205); 
}

.text-align{
    text-align: center;
}

.icons{
    display: flex; 
    margin-left: 80px;
    margin-right: 80px; 
    height: 200px;
    padding-left: 20px;  
    margin-bottom: 80px;
}

.icon-width{
    width: 30%;
    border: 1px solid gray;
    margin-left: 10px;
    border-style: none;
    padding-left: 20px;
    background-color: rgb(236, 247, 247);
    border-radius: 5px;
    padding-left: 15px;   
}

.icon-image{
    height: 30px;
    padding-top: 40px;  
}

.text{
    text-align: left;
    padding-left: 3px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#background-color{
    background-color: rgb(247, 234, 236);
}

#back-color{
    background-color: rgb(241, 232, 201);
}
.half-width{
    width:50%;
    
}
.text-volunteer{
    text-align: center;
    padding-bottom: 30px;
}
 

.volunteer{
    box-shadow: 5px 5px 20px gray;
    text-align: center;
    padding-top: 25px;
}
.text{
    text-align: center;
    padding-bottom: 35px;

}
h5{
    padding-top: 35px;
    padding-bottom: 45px;  
}
.update{
    text-align: center;
    padding-top: 25px;
}
.border{
    border: 1px solid black;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-right: 40px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    border-style: none;
    background-color:rgb(246, 238, 210);
}
#color{
    background-color:red;
    text-decoration: none;
     padding: 5px 10px;
     border-radius: 5px;
     color: white;
     font-weight: 200;
      margin-top: 5px;
      font-size: 15px;
}
footer{
    background-color: black;
}
.color-footer{
    color: tomato;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
}
h6{
    color: white;
    
    padding-bottom: 25px;
}


